<section>
    <header class="main">
        <h2>Command Line Hello World</h2>
    </header>    
    <h3>Your First Java Program</h3>
    <div class="row">
        <div class="12u">
            <h4>Three Main Steps in Java Programming</h4>
            <ol>
                <li><em>Write</em> the program in Java and save it in a file.</li>
                <li><em>Compile</em> the program to translate it from Java language into a special byte code that JVM understands</li>
                <li><em>Run</em> the program.</li>                
            </ol>
            <h4>Write a Programm</h4>
            <ul>
                <li>
                    <div>Open your notepad. Write a program follow the codes below:</div>   
                    <div class="row">
                        <div class="6u 12u(small)">
<pre><code>
public class HelloWorld {
    public static void main(string[] args) {
        System.out.println("Hello World, Command Line");
    }
}
</code></pre>
                        </div>   
                        <div class="6u 12u(small)"> 
                            <span class="image fit"><img src="assets/img/views/ch01/helloworld/01-write-source-code.png" alt="" /></span>
                        </div>
                    </div>

                </li>                
                <li>
                    <div>Save file name</div>
                    <div class="row">
                        <div  class="6u 12u(small)">Save file name as "HelloWorld.java" (case sensitive to class name) in to your working directory.  For our case: C:\projects\javaprogram\</div>
                        <div  class="6u 12u(small)">
                            <span class="image fit"><img src="assets/img/views/ch01/helloworld/02-saveas-file.png" alt="" /></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div>List Java Source Codes</div>
                    <div class="row">
                        <div  class="6u 12u(small)">
                            <ol>
                                <li>Open Command Line</li>
                                <li>Navigate the java file by locating to "C:\projects\javaprogram\"</li>
                                <li>Type: dir</li>
                                <li>HelloWorld.java will be shown on the list</li>
                            </ol>
                        </div>
                        <div  class="6u 12u(small)">
                            <span class="image fit"><img src="assets/img/views/ch01/helloworld/03-list-file.png" alt="" /></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div>Compile Java Source Codes</div>
                    <div class="row">
                        <div  class="6u 12u(small)">
                            <ol>
                                <li>Type: javac helloworld.java</li>
                                <li>Hit "Enter" kay</li>                                
                            </ol>
                        </div>
                        <div  class="6u 12u(small)">
                            <span class="image fit"><img src="assets/img/views/ch01/helloworld/04-compile-file.png" alt="" /></span>
                        </div>
                    </div>
                </li>                
                <li>
                    <div>View Result</div>
                    <div class="row">
                        <div  class="6u 12u(small)">
                            <ol>
                                <li>Type: dir</li>
                                <li>On the list of the files, there is new file called HelloWorld.java</li>                                
                            </ol>
                        </div>
                        <div  class="6u 12u(small)">
                            <span class="image fit"><img src="assets/img/views/ch01/helloworld/05-view-result.png" alt="" /></span>
                        </div>
                    </div>
                </li>                
                <li>
                    <div>Run Java Class</div>
                    <div class="row">
                        <div  class="6u 12u(small)">
                            <ol>
                                <li>Type: Java HelloWorld</li>          
                            </ol>
                        </div>
                        <div  class="6u 12u(small)">
                            <span class="image fit"><img src="assets/img/views/ch01/helloworld/06-run-java-class.png" alt="" /></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>